@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
:root {
    --clr-light-grey: #5C5C5C;
    --clr-primary-blue: #54D4D4;
    --clr-light-blue-focus: #48b9c7;
    --ff-primary: 'Poppins', sans-serif;

    --clr-dark-grey: #999999;

    --box-shadow: 0px 8px 16px 6px rgba(105, 105, 105, 0.15);
    --gradient-blue: linear-gradient(180deg, #54D4D4 0%, #149DE1 100%);
    --default-padding: .5em 5em;

    /* temporary */
    --fb-icon-path: url("./../fonts/icons8-facebook-50.svg");
    --google-icon-path: url("./../fonts/icons8-google-50.svg");
    --twitter-icon-path: url("./../fonts/icons8-twitter-50.svg");
}

body{
    font-family: "poppins", sans-serif;
}

/* remove defaults */
input{
    border: none;
    outline: none;
}

a{
    color: var(--clr-dark-grey);
    text-decoration: none;
}

a:hover {
    color: var(--clr-primary-blue);
}

.active {
    color: #149DE1;
    font-size: bold;
}

body {
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    gap: 4em;
}

button{
    cursor: pointer;
}

/* Navigation bar */
/* .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-dark-grey);
} */

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-dark-grey);
    position: fixed;
    width: 90%;
    z-index: 4;
    background: white;
    box-shadow: #90b0cc 4px 4px;
    top: 0;
    left: 0;
    padding: var(--default-padding);
}

.nav__search {
    display: flex;
    gap: 2em;
}


.search__container {
    border: solid 1px var(--clr-light-grey);
    display: flex;
    gap: .5em;
    padding: .2em .2em;
}

.search__container input {
    width: 20em;
    border-right: 1px solid var(--clr-light-grey);
}

/* login button */
.btn {
    border: none;
    background: linear-gradient(180deg, #54D4D4 0%, #149DE1 100%);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    /* width: 14em;                        */
}

.login-btn {
    padding: .2em 1em;
}

.main {
    display: flex;
    gap: 2em;
    margin-top: 6em;
}

.left__container {
    max-width: 50%;
}

/* main moto image section */
.right__img__container {
    background-image: url("./../img/rating001-01\ 1.png");
    height: 20em;
    width: 50%;
    background-position: center;
    object-fit: contain;
    background-size: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

/* TRENDING SECTION */

.trending__container {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

/* individual container */
.trending__item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: var(--gradient-blue);
    width: 20em;
    max-height: 15em;
    padding: 1em;
    border-radius: 8px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(166, 235, 254, 0.3);
    border: 2px solid var(--clr-light-blue-focus);
}


/* upper profile section */
.trending__profile {
    display: flex;
    gap:2em;
}

/* profile image container  */
.img__container {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
}

.img__container > img {
    width: 100%;
    aspect-ratio: 1/1;
}

/* Information related to user */
.user__info {
    color: #474747;
    display: flex;
    flex-direction: column;
    margin-top: -1em;
    justify-content: center;
}

.user__info > h3 {
    font-size: 20px;
    font-weight: 500;
}

.pub__date {
    color: #5C5C5C;
    font-size: 16px;
    margin-top: -1em;
}

/* Category for complaint */
.trending__category {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #474747;
}

/* Actual complaint content */
.trending__complaint {
    color: #474747;
    font-weight: 300;
    margin-top: .5em;
    min-height: 4.5em;
}


.trending__cta button {
    padding: 2px 8px;
    justify-self: flex-end;
}


/* hover for trending container */
.trending__item:hover{
    background: white;
    border: dashed 2px var(--clr-light-blue-focus);
}
